.question-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 2px;
}


.heading-name {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 5px;
    color: var(--app-cornflower);
    /* cursor: default; */

}

.question-list-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.question-card,
.question-card-selected {
    display: flex;
    cursor: pointer;
    /* border: 1px solid red; */
    padding: 4px;
    align-items: center;
    gap: 10px;
}

.question-card:hover {
    background-color: lightgray;
    /* color: white; */
    border-radius: 4px;
}

.question-card-selected {
    background-color: #cedaef;
    border-radius: 4px;
}