.test-section {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99%;
    /* border: 1px solid green; */
}

.response-sheet-section {
    display: flex;
    flex-direction: column;
}

.test-section-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    height: 30px;
    margin-top: 18px;
    background-color: lightgray;
    border-radius: 2px;
    font-size: 22px;
    cursor: default;
}


.test-section-question-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.test-section-question-option {
    display: flex;
    gap: 20px;
}


.action-section {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 30px;
    /* border: 1px solid lightgray; */
}

#action-button {
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;

}

#action-button:hover {
    background-color: rgb(236, 233, 233);
    border: 1px solid var(--app-cornflower);
    color: var(--app-cornflower);
}

.action-button-next {
    padding: 10px 60px;
    background-color: var(--app-cornflower);
    color: white;
    border: 1px solid var(--app-cornflower);
}

.action-button-previous {
    padding: 10px 20px;
    color: gray;
    border: 1px solid gray;
}