.test-section {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99%;
    /* border: 1px solid green; */
}

.response-sheet-section {
    display: flex;
    flex-direction: column;
}

.description-heading {

    font-size: 32px;
    font-weight: 900;
    padding-left: 2px;
    color: var(--app-cornflower);
    word-spacing: 2px;
    letter-spacing: 1px;

}

.description-content {
    padding: 22px;
    margin-top: 18px;
    background-color: rgb(230, 228, 228);
    border-radius: 2px;
    font-size: 22px;
    word-spacing: 3px;
    letter-spacing: 1px;
    cursor: default;
}



.action-section {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 30px;
    /* border: 1px solid lightgray; */
}

.action-button-start {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--app-cornflower);
    color: white;
    padding: 15px 90px;
    border: 1px solid var(--app-cornflower);
    letter-spacing: 1px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.action-button-start:hover {
    background-color: rgb(236, 233, 233);
    border: 1px solid var(--app-cornflower);
    color: var(--app-cornflower);
}